In [2]:
# This is a comment
a = 'Henry'
a = 9
a

9

In [3]:
name = 'Henry'
number_henry = 9
name2 = "Henry klsjdjjafOWEÜĞFPWFĞlofkfepğfokweofpwkfpofwerpfküwrğpglpğwrglwgprglreğügrğkpgko" \
    "kldjfsaglşkrgğpeofgçwrfpolcregıöegroğtıgkğpgoktğpütghlğüpht"
name2

'Henry klsjdjjafOWEÜĞFPWFĞlofkfepğfokweofpwkfpofwerpfküwrğpglpğwrglwgprglreğügrğkpgkokldjfsaglşkrgğpeofgçwrfpolcregıöegroğtıgkğpgoktğpütghlğüpht'

In [5]:
name = "Henry"
last_name = "Forester"
full_name = name + " " + last_name
full_name

'Henry Forester'

In [8]:
name = "Henry"
last_name = "Forester"
full_name = f'{name} {last_name}'
full_name = '{} {}'.format(name, last_name) 
full_name

'Henry Forester'

In [9]:
def add_binary(a, b):
    '''
    Returns the sum of two decimal numbers in binary digits.

            Parameters:
                    a (int): A decimal integer
                    b (int): Another decimal integer

            Returns:
                    binary_sum (str): Binary string of the sum of a and b
    '''
    binary_sum = bin(a+b)[2:]
    return binary_sum


print(add_binary.__doc__)

    Returns the sum of two decimal numbers in binary digits.

            Parameters:
                    a (int): A decimal integer
                    b (int): Another decimal integer

            Returns:
                    binary_sum (str): Binary string of the sum of a and b

In [14]:
a = "Hello World!"
a_len = len(a)
a_len
a
a[a_len-1]

'!'

In [30]:
a = "Helyo World!"
# a[1:5:2]
slices = slice(1,5,2)
a[slices]
a[::-1]

'!dlroW oyleH'

In [18]:
a = "helYo world!"
# b = a.split(' ')
# b
# a = ','.join(b)
# a
a.startswith("H")
a.endswith("!")

True

In [25]:
a = "   helYo world!"
a.rstrip("!")

'   helYo world'

In [30]:
x = 10
y = 3
x%y

1

In [31]:
x = 3
y ='3'
x == y

False

In [36]:
True and not False or False

True

In [38]:
list1 = ['1']
if list1:
    print("This is true")
else:
    print("This is false")

This is true

In [47]:
a = 1.5464894949
round(a, 2)

1.55

In [49]:
a = []
a.append("1")
a.append("2")
a

['1', '2']

In [53]:
print(range(5))
for i in range(5):
    print(i)

range(0, 5)
0
1
2
3
4

In [57]:
a = [1, 2, 3, 4]
b = a.pop(2)
a
# b

[1, 2, 4]

In [66]:
a = [1, 2, 3, 4, 1]
b = ["q", "e"]
c = a+b
c
# a.extend(b)
# a
# a.count(1)
# b = a[:]
# b.append(5)
# a

[1, 2, 3, 4, 1, 'q', 'e']

In [70]:
a = [1, 2, 5, 4, 1]
a.index(5)

2

In [71]:
a = [1, 2, 5, 4, 1]
a.insert(1, 9)
a

[1, 9, 2, 5, 4, 1]

In [76]:
a = [1, 2, 5, 4, 1, "ahmet"]
a.remove("ahmet")
a

[1, 2, 5, 4, 1]

In [78]:
a = [1, 2, 5, 4, 1, "ahmet"]
a.reverse()
a

['ahmet', 1, 4, 5, 2, 1]

In [81]:
a = [1, 2, 5, 4, 1]
a.sort(reverse=True)
a

[5, 4, 2, 1, 1]

In [86]:
a = [
    {"id":1, "name":'Hnery', "age":38},
    {"id":3, "name":'Victor', "age":20},
    {"id":2, "name":'Ryan', "age":35}
]

a.sort(key=lambda x: x.get("age"))
a

[{'id': 3, 'name': 'Victor', 'age': 20},
 {'id': 2, 'name': 'Ryan', 'age': 35},
 {'id': 1, 'name': 'Hnery', 'age': 38}]

In [89]:
a = [1, 2, 5, 4, 1, [1, "ali", 3], "ahmet"]
# a[5][1]
a[1:6]

[2, 5, 4, 1, [1, 'ali', 3]]

In [96]:
a = (5,45,[1,2])
a[2][1]

2

In [103]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.get("bran", "") # ['brand']

''

In [105]:
thisdict.keys()
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [106]:
thisdict["year"] = 1945
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1945}

In [109]:
a = thisdict.pop("year")
thisdict

{'brand': 'Ford'}

In [112]:
thisdict.clear()
thisdict

{}

In [114]:
a = [1,1,2,2,3]
b = list(set(a))
b

[1, 2, 3]

In [118]:
a = [
    {"brand": 9},
]
if a[0].get("brand"):
    b = a[0].get("brand") * 3
    print(b)
else:
    print("no value")

27

In [130]:
i = 0
while i < 6:
    print(i)
    i += 1 # i++
    if i == 3:
        break

0
1
2

In [133]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == 'banana':
        continue
    print(fruit)

apple
cherry

In [134]:
adjs = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adj in adjs:
  for fruit in fruits:
    print(adj, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
if a:
    pass

In [138]:
def my_function():
    return "Hello from a function"
my_function()

'Hello from a function'

In [139]:
def my_function(name):
    return f"Hello {name} how are you?"

my_function("John")

'Hello John how are you?'

In [141]:
def my_function(name, last_name):
    return f"Hello {name} {last_name} how are you?"

my_function("Smith", "John")

'Hello Smith John how are you?'

In [143]:
def my_function(*args):
  return "The youngest child is " + args[1]

my_function("Hans", "Angel", "Lilly")

'The youngest child is Angel'

In [144]:
def my_function(name, last_name):
    return f"Hello {name} {last_name} how are you?"

my_function(last_name="Smith", name="John")

'Hello John Smith how are you?'

In [147]:
def my_function(**kwargs):
    return f"Hello {kwargs.get('name')}"
        
my_function(name = "John", last_name = "Smith")

'Hello John'

In [ ]:
def my_function( *args, a, b, **kwargs):
    pass

In [151]:
def my_function(country = "Norway"):
  return "I am from " + country

# my_function("Sweden")
my_function()

'I am from Norway'

In [153]:
import time

def elapsed_time(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()
        print(f'Elapsed time: {(t2 - t1) * 1000} ms')
    return wrapper

@elapsed_time
def big_sum():
    num_list = []
    for num in (range(0, 10000)):
        num_list.append(num)
    print(f'Big sum: {sum(num_list)}')

big_sum()

@elapsed_time
def abc(a,b):
    return a*b

Big sum: 49995000
Elapsed time: 1.0440349578857422 ms

In [157]:
try:
    print(v)
except NameError:
  print("Variable v is not defined")
except:
  print("Something else went wrong")

Variable v is not defined

In [159]:
try:
  print(cc)
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Something went wrong

In [161]:
try:
  print(asd)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [162]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed